<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
    .base {
      width: 100vw;
      height: 100vh;
      background-color: #d4f0fc;
    }

    .container-fluid {
      width: 100%;
    }


    .btn {
      width: 100%;
      margin: 8px;
    }

    .ingroup {
      margin: 8px 0px 8px 8px;
    }

    input {
      width: 100%;
    }

    .table-container{
      height: 400px;
      overflow-x: hidden;
      overflow-y: auto;
    }

    h1 {
      color: #01303f;
      text-align: center;
      font-weight: bold;
    }

    button {
      margin-top: 5px;
    }
  </style>
  <title>Historial de Pastas</title>
</head>

<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" charset="utf-8"></script>
  <div id="vapp"></div>
  <script>
    const vm = new Vue({
      el: "#vapp",
      data: {
        start: '2020-04-18T00:00',
        end: '2020-04-19T00:00',
        table: []
      },
      methods: {
        goTo: (url) => {
          document.location = url;
        },
        fetch: () => {
          $.get("/search", {initTime: Date.parse(vm.start) / 1000, finalTime: Date.parse(vm.end) / 1000}).done((data) => {
            vm.table = data
          });
        }
      },
      template: `
      <div class="base">
      <div class="container-fluid">
        <div class="row mainrow justify-content-center align-items-center">
          <div class="col">
            <div class="container-fluid">

              <div class="row justify-content-center">
                <div class="col">
                  <h1>Historial de Pastas</h1>
                </div>
              </div>

              <div class="row justify-content-center">
                <div class="col-md-4 align-self-center">
                  <div id="selec_date_in" action="../../form-result.php" method="post" target="_blank">
                    <div class="ingroup">
                      <h5>Seleccione la fecha de inicio</h5>
                      <input v-model="start" type="datetime-local" name="fechaesperada"/>
                    </div>
                    <div class="ingroup">
                      <h5>Seleccione la fecha final</h5>
                      <input v-model="end" type="datetime-local" name="fechaesperada"/>
                    </div>
                    <button :disabled="(Date.parse(end) < Date.parse(start))" @click="fetch()" class="btn btn-primary">Consulta</button>
                  </div>
                </div>

                <div class="col-md-8 align-self-center table-container">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Clase</th>
                        <th>F-score</th>
                        <th>Time</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="element in table">
                        <td>{{element.classes}}</td>
                        <td>{{element.scores}}</td>
                        <td>{{element.formatTime}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="row justify-content-center">
                <div class="col align-self-center">
                  <button @click="goTo('index.html')" type="button" class="btn btn-primary">Atras</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
      `
    });
  </script>
</body>

</html>